:root {
  font-size: 62.5%;
  font-family: 'Open' sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

button, input[type="submit"]{
  border: none;
  background: none;
}